
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(green, yellow);
}
.d {
    align-items: center;
}
.my-width{
    width: 20%;
}
.head1{
    color: black;
    /* text-decoration-line: underline; */
     text-decoration-color: gray; 
}
